


<app-nav></app-nav>

  <body class="">

    <!-- Anuncion Incial-->
    <section class="py-1 text-center container ">
      <div class="row py-lg-1">
        <div class="col-sm ">
          <h1 class="fw-light">¡Empieza la busqueda!</h1>
          <p class="lead text-muted">Aqui podrás consultar los libros disponibles</p>
        </div>
      </div>
    </section>




      <!-- LIBROS EN LA LISTA -->
      <div class="album py-5  imagen-fondo">
        <div class="container">

          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
              <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#E62086"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Este libro aún no tiene imagen</text></svg>

                <div class="card-body">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Titulo: </li>
                    <li class="list-group-item">Autor: </li>
                    <li class="list-group-item">Editorial: </li>
                  </ul>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Solicitar</button>


                    </div>
                   <!-- <small class="text-muted">9 mins</small> -->
                  </div>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#E62086"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Este libro aún no tiene imagen</text></svg>

                <div class="card-body">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Titulo: </li>
                    <li class="list-group-item">Autor: </li>
                    <li class="list-group-item">Editorial: </li>
                  </ul>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Solicitar</button>

                    </div>
                   <!-- <small class="text-muted">9 mins</small> -->
                  </div>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#E62086"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Este libro aún no tiene imagen</text></svg>

                <div class="card-body">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Titulo: </li>
                    <li class="list-group-item">Autor: </li>
                    <li class="list-group-item">Editorial: </li>
                  </ul>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Solicitar</button>

                    </div>
                   <!-- <small class="text-muted">9 mins</small> -->
                  </div>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#E62086"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Este libro aún no tiene imagen</text></svg>

                <div class="card-body">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Titulo: </li>
                    <li class="list-group-item">Autor: </li>
                    <li class="list-group-item">Editorial: </li>
                  </ul>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Solicitar</button>

                    </div>
                   <!-- <small class="text-muted">9 mins</small> -->
                  </div>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#E62086"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Este libro aún no tiene imagen</text></svg>

                <div class="card-body">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Titulo: </li>
                    <li class="list-group-item">Autor: </li>
                    <li class="list-group-item">Editorial: </li>
                  </ul>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Solicitar</button>

                    </div>
                   <!-- <small class="text-muted">9 mins</small> -->
                  </div>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#E62086"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Este libro aún no tiene imagen</text></svg>

                <div class="card-body">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Titulo: </li>
                    <li class="list-group-item">Autor: </li>
                    <li class="list-group-item">Editorial: </li>
                  </ul>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Solicitar</button>

                    </div>
                   <!-- <small class="text-muted">9 mins</small> -->
                  </div>
                </div>
              </div>
            </div>







          </div>
        </div>
      </div>









      </body>

