


<app-nav>
</app-nav>




<body >

<!-- Anuncio Incial-->
<section class="py-1 text-center container  ">
  <div class="row py-lg-1">
    <div class="col-sm ">
      <h1 class="fw-light">Mi Perfil</h1>
      <p class="lead text-muted">Aqui podrás ver y editar tu perfil de Usuario</p>

    </div>
  </div>
</section>

  <!-- Cuadro de perfil -->
  <div class="album py-5   imagen-fondo-libros">
    <div class="container ">
      <div row>


      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3  ">
        <div></div>
          <div class="card shadow-sm ">
            <img  src="../../../assets/img/user.jpg">


            <div class="card-body ">


              <form #f="ngForm" (ngSubmit)="f.form.valid && updatePerfil()" novalidate >

                <div class="form-group row">

                    <label for="userUsername" class="col-sm-4 col-form-label">Username:</label>
                    <div class="col-sm-8">
                      <input type="text" name="username" class="form-control-plaintext" id="userUsername" readonly value={{perfil.username}} [(ngModel)]="perfil.username" required #username="ngModel">
                    </div>

                    <div class="alert alert-danger" role="alert" *ngIf="username.errors && f.submitted">
                        is required!
                    </div>
                </div>

                <div class="form-group row">

                  <label for="userEmail" class="col-sm-4 col-form-label">Email:</label>
                  <div class="col-sm-8">
                    <input type="text" name="email" class="form-control-plaintext" id="userEmail" readonly value={{perfil.email}} [(ngModel)]="perfil.email" required #email="ngModel" email>
                  </div>

                  <div class="alert alert-danger" role="alert" *ngIf="email.errors && f.submitted">
                      Email is required!
                  </div>

              </div>

                <div class="form-group row">

                  <label for="userNombre" class="col-sm-4 col-form-label">Nombre:</label>
                  <div class="col-sm-8">
                    <input type="text" name="nombre" class="form-control-plaintext" id="userNombre" value={{perfil.nombre}} [(ngModel)]="perfil.nombre" required #nombre="ngModel">
                  </div>

                  <div class="alert alert-danger" role="alert" *ngIf="nombre.errors && f.submitted">
                     nombre is required!
                  </div>
              </div>



              <div class="form-group row">

                <label for="userApellido" class="col-sm-4 col-form-label">Apellido:</label>
                <div class="col-sm-8">
                  <input type="text" name="apellido" class="form-control-plaintext" id="userApellido" value={{perfil.apellido}} [(ngModel)]="perfil.apellido" required #apellido="ngModel">
                </div>

                <div class="alert alert-danger" role="alert" *ngIf=" f.submitted">
                    is required!
                </div>
            </div>



          <div class="form-group row">

            <label for="userDescripcion" class="col-sm-4 col-form-label">Descripción:</label>
            <div class="col-sm-8">
              <input type="text" name="descripcion" class="form-control-plaintext" id="userDescripcion" value={{perfil.descripcion}} [(ngModel)]="perfil.descripcion" required >
            </div>

            <div class="alert alert-danger" role="alert" *ngIf=" f.submitted">
                is required!
            </div>
        </div>

        <div class="form-group row">

          <!--<label for="staticEmail" class="col-sm-4 col-form-label">foto:</label>
          <div class="col-sm-8">
            <input type="file" class="form-control-plaintext" id="staticEmail" readonly value={{perfil.contraseña}} [(ngModel)]="perfil.contraseña" required>
          </div>

          <div class="alert alert-danger" role="alert" *ngIf=" f.submitted">
              is required!
          </div> -->
      </div>


      <div class="alert alert-danger" role="alert" *ngIf="f.submitted && isUpdate">
        Update failed:<br /> {{ errorMessage }}
      </div>

      <div class="alert alert-success" *ngIf="f.submitted && isSuccessful">
        Your Update is successful!
      </div>

      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-outline-secondary" (click)="updatePerfil()  ">Actualizar</button>
      </div>



    </form>




              <div class="d-flex justify-content-between align-items-center ">


              </div>


            </div>
          </div>
        </div>







      </div>
    </div>
</div>


</body>





