

<app-nav></app-nav>





<body >

<!-- Anuncio Incial-->
<section class="py-1 text-center container  ">
  <div class="row py-lg-1">
    <div class="col-sm ">
      <h1 class="fw-light">Mi Perfil</h1>
      <p class="lead text-muted">Aqui podrás ver y editar tu perfil de Usuario</p>

    </div>
  </div>
</section>

  <!-- Cuadro de perfil -->
  <div class="album py-5   imagen-fondo-libros">
    <div class="container ">
      <div row>


      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3  ">
        <div></div>
          <div class="card shadow-sm ">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="325" xmlns="http://www.w3.org/2000/svg"
            role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#E62086"/><text x="50%" y="50%" fill="#ffffff" dy=".3em">Aqui va tu imagen de perfil</text></svg>

            <div class="card-body ">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Usuario: </li>
                <li class="list-group-item">Nombre: </li>
                <li class="list-group-item">Apellido: </li>
                <li class="list-group-item">Email: </li>
                <li class="list-group-item">Descripción: </li>

              </ul>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">

                  <a type="button" class="btn btn-sm btn-outline-secondary" href="modificarperfil">Editar</a>


                  <button type="button" class="btn btn-sm btn-outline-secondary">Eliminar</button>

                </div>

               <!-- <small class="text-muted">9 mins</small> -->
              </div>
            </div>
          </div>
        </div>







      </div>
    </div>
</div>
</body>





