<!-- Button trigger modal -->
<div class="container bg-personal">

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Quiero el libro
</button>


<!-- Vertically centered modal -->

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Nombre del libro</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>


      <div class="modal-body">
        <div class="container">



              <div class="row row-cols-1 row-cols-sm-2">
                <div class="col col-md-5 ">
                    Aqui va la imagen del libro
                </div>

                <div class="col col-md-7 ">
                   Aqui a la info
                </div>
              </div>





        </div>
      </div>


      <div class="modal-footer justify-content-center">
        <!--<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">MArcar como leido</button>-->
        <button type="button" class="btn btn-primary">Leido</button>
        <button type="button" class="btn btn-primary">Favorito</button>
        <button type="button" class="btn btn-primary">Solicitar libro</button>
      </div>
    </div>
  </div>
</div>
</div>
