

<app-nav></app-nav>





<body >

<!-- Anuncio Incial-->
<section class="py-1 text-center container  ">
  <div class="row py-lg-1">
    <div class="col-sm ">
      <h1 class="fw-light">Registro de libro</h1>
      <p class="lead text-muted">rellena los datos para que tu libro esté disponible para otros usuarios</p>

    </div>
  </div>
</section>

  <!-- Cuadro de perfil -->
  <div class="album py-5   imagen-fondo-libros">
    <div class="container ">
      <div row>


      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3  ">
        <div></div>
          <div class="card shadow-sm ">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="325" url="src/assets/img/login.jpg"
            role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#E62086"/><text x="50%" y="50%" fill="#ffffff" dy=".3em">Aqui va tu imagen de perfil</text></svg>

            <div class="card-body ">
              <ul class="list-group list-group-flush">
                <!-- input de usuario-->
                <li class="list-group-item">Título: </li>
                <li class="list-group-item">
                  <input type="text" class="form-control" placeholder="Modificar Usuario" aria-label="Recipient's username" aria-describedby="basic-addon2">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button">Guardar</button>

                  </div>
                </li>


                <!-- input de nombre-->
                <li class="list-group-item">Nombre del Autor: </li>
                <li class="list-group-item">
                  <input type="text" class="form-control" placeholder="Modificar Nombre" aria-label="Recipient's username" aria-describedby="basic-addon2">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button">Guardar</button>

                  </div>
                </li>

                 <!-- input de nombre-->
                 <li class="list-group-item">Apellido del Autor: </li>
                 <li class="list-group-item">
                   <input type="text" class="form-control" placeholder="" aria-label="Recipient's username" aria-describedby="basic-addon2">
                   <div class="input-group-append">
                     <button class="btn btn-outline-secondary" type="button">Guardar</button>

                   </div>
                 </li>

                <!-- input de apellido-->
                <li class="list-group-item">Editorial: </li>
                <li class="list-group-item">
                  <input type="text" class="form-control" placeholder="" aria-label="Recipient's username" aria-describedby="basic-addon2">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button">Guardar</button>

                  </div>
                </li>



                <!-- input de email-->
                <li class="list-group-item">ISBN: </li>
                <li class="list-group-item">
                  <input type="text" class="form-control" placeholder="" aria-label="Recipient's username" aria-describedby="basic-addon2">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button">Guardar</button>

                  </div>
                </li>

                <!-- input de descripcion-->
                <li class="list-group-item">Temática: </li>

                <li class="list-group-item">
                  <input type="text" class="form-control" placeholder="" aria-label="Recipient's username" aria-describedby="basic-addon2">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button">Guardar</button>

                  </div>
                </li>

                <!-- input de descripcion-->
                <li class="list-group-item">Sinopsis: </li>

                <li class="list-group-item">
                  <input type="text" class="form-control" placeholder="" aria-label="Recipient's username" aria-describedby="basic-addon2">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button">Guardar</button>

                  </div>
                </li>

                <!-- input de descripcion-->
                <li class="list-group-item">Estado: </li>

                <li class="list-group-item">
                  <input type="text" class="form-control" placeholder="" aria-label="Recipient's username" aria-describedby="basic-addon2">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button">Guardar</button>

                  </div>
                </li>

                 <!-- input de descripcion-->
                 <li class="list-group-item">numero de páginas: </li>

                 <li class="list-group-item">
                   <input type="text" class="form-control" placeholder="" aria-label="Recipient's username" aria-describedby="basic-addon2">
                   <div class="input-group-append">
                     <button class="btn btn-outline-secondary" type="button">Guardar</button>

                   </div>
                 </li>





                <!-- subir imagen de perfil-->
                <li class="list-group-item">Imagen del libro: </li>
                <li class="custom-file">
                  <input type="file" class="custom-file-input" id="customFileLang" lang="es">
                  <label class="custom-file-label" for="customFileLang"></label>
                </li>

              </ul>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">


                </div>

               <!-- <small class="text-muted">9 mins</small> -->
              </div>
            </div>
          </div>
        </div>







      </div>
    </div>
</div>
</body>





