<app-nav>

</app-nav>

<app-editorial></app-editorial>
<app-autor></app-autor>


<body>

    <!-- Anuncio Incial-->
    <section class="py-1 text-center container  ">
        <div class="row py-lg-1">
            <div class="col-sm ">
                <h1 class="fw-light">Registro de libro</h1>
                <p class="lead text-muted">Rellena los datos para que tu libro esté disponible para otros usuarios</p>

            </div>
        </div>
    </section>

    <!-- Cuadro de perfil -->
    <div class="album py-5   imagen-fondo-libros">
        <div class="container ">
            <div row>


                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3  ">
                    <div></div>
                    <div class="card shadow-sm ">
                        <form (ngSubmit)="onSubmit()" name="form">
                            <div class="card-body ">
                                <ul class="list-group list-group-flush">
                                    <!-- input de usuario-->
                                    <li class="list-group-item">Título: </li>
                                    <li class="list-group-item">
                                        <input type="text" class="form-control" placeholder="" id="titulo" required [(ngModel)]="libro.titulo" name="titulo">
                                    </li>
                                    <!-- input de editorial-->
                                    <li class="list-group-item">Editorial: </li>
                                    <li class="list-group-item">
                                        <div class="d-flex">
                                            <input type="text" class="form-control" placeholder="" id="editorial" readonly required name="editorial">
                                            <div class="dropdown show">
                                                <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="ngOnInit()">

                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                        <ng-container *ngFor='let editorial of editoriales | async'>
                                                            <a class="dropdown-item" (click)='ponerEditorial(editorial.id, editorial.nombre)'>{{editorial.nombre}}</a>
                                                        </ng-container>
                                                    </div>

                                                </a>
                                            </div>
                                            <button class="btn btn-primary ml-2" type="button" data-toggle="modal" data-target="#editorialModal">Crear</button>
                                        </div>
                                    </li>
                                    <!-- input de autor-->
                                    <li class="list-group-item"> Autor: </li>
                                    <li class="list-group-item">
                                        <div class="d-flex">
                                            <input type="text" class="form-control" placeholder="" id="autor" readonly required name="autor">
                                            <div class="dropdown show">
                                                <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="ngOnInit()">

                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                        <ng-container *ngFor='let autor of autores | async'>
                                                            <a class="dropdown-item" (click)='ponerAutor(autor.id, autor.nombre, autor.apellido)'>{{autor.nombre}} {{autor.apellido}}</a>
                                                        </ng-container>
                                                    </div>

                                                </a>
                                            </div>
                                            <button class="btn btn-primary ml-2" type="button" data-toggle="modal" data-target="#autorModal">Crear</button>
                                        </div>
                                    </li>



                                    <!-- input de email-->
                                    <li class="list-group-item">ISBN: </li>
                                    <li class="list-group-item">
                                        <input type="text" class="form-control" placeholder="" id="isbn" required [(ngModel)]="libro.isbn" name="isbn">
                                    </li>

                                    <!-- input de descripcion-->
                                    <li class="list-group-item">Temática: </li>

                                    <li class="list-group-item">
                                        <input type="text" class="form-control" placeholder="" id="tematica" [(ngModel)]="libro.tematica" name="tematica">
                                    </li>

                                    <!-- input de descripcion-->
                                    <li class="list-group-item">Descripcion: </li>

                                    <li class="list-group-item">
                                        <input type="text" class="form-control" placeholder="" id="descripcion" [(ngModel)]="libro.descripcion" name="descripcion">
                                    </li>

                                    <!-- input de descripcion-->
                                    <li class="list-group-item">Estado: </li>

                                    <li class="list-group-item">
                                        <input type="text" class="form-control" placeholder="" id="esatdo" required [(ngModel)]="libro.estado" name="estado">
                                    </li>

                                    <!-- input de descripcion-->
                                    <li class="list-group-item">Numero de páginas: </li>

                                    <li class="list-group-item">
                                        <input type="text" class="form-control" placeholder="" id="paginas" required [(ngModel)]="libro.paginas" name="paginas">
                                    </li>

                                    <!-- subir imagen de perfil
                                <li class="list-group-item">Imagen del libro: </li>
                                <li class="custom-file">
                                    <input type="file" class="custom-file-input" id="customFileLang" lang="es">
                                    <label class="custom-file-label" for="customFileLang"></label>
                                </li>
                              -->
                                </ul>
                                <div class="input-group-append">
                                    <button class="btn btn-success" type="submit">Guardar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
