

<app-nav></app-nav>

<body >

  <!-- Anuncio Incial-->
  <section class="py-1 text-center container complement ">
    <div class="row py-lg-1">
      <div class="col-sm ">
        <h1 class="fw-light">Acerca de BBP</h1>




      </div>
    </div>
  </section>





<div class="album py-5 imagen-fondo ">
  <div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

      <div class="col">
        <div class="card shadow-sm">
          <img  src="../../../assets/img/vision.jpg">

          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><b>Visión:</b></li>
              <li class="list-group-item">Nuestra visión es que el acto de compartir cultura de manera gratuita se convierta en una costumbre arraigada en nuestra sociedad </li>

            </ul>

          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <img  src="../../../assets/img/mision.jpg">

          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><b>Misión:</b></li>
              <li class="list-group-item">Por ese motivo tenemos la misión de compartir una aplicación que permita el intercambio de libros de manera gratuita entre las personas  </li>

            </ul>

          </div>
        </div>
      </div>


      <div class="col">
        <div class="card shadow-sm">
          <img  src="../../../assets/img/valores.jpg">

          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><b>Valores:</b></li>
              <li class="list-group-item">Nuestros valores se basan en el respeto por la cultura, el conocimiento, la empatia y las buenas relaciones sociales   </li>

            </ul>

          </div>
        </div>
      </div>


    </div>
  </div>
</div>

<div class="complementary-background-color3" ></div>

<section class="py-1 text-center container complement ">
  <div class="row py-lg-1">
    <div class="col-sm ">



      <p class="lead text-muted">Desarrollado por César Torrelles, Giovanny Rodriguez y Victor Lozano</p>

    </div>
  </div>
</section>






</body>
