

<app-nav></app-nav>
  <body>


    <!-- Anuncio Incial-->
<section class="py-1 text-center container complement ">
  <div class="row py-lg-1">
    <div class="col-sm ">
      <h1 class="fw-light">¿Como funciona la App?</h1>
      <p class="lead text-muted">Solo has de seguir los siguientes pasos:</p>

    </div>
  </div>
</section>



<!-- nav Cuadros de pasos a seguir -->
<div class="album py-5 imagen-fondo ">
  <div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="card shadow-sm">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#2086E6"/><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></svg>

          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">1. Crear una cuenta de Usuario </li>

            </ul>

          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#2086E6"/><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></svg>

          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">2. Registrar los libros que deseas prestar </li>

            </ul>

          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#2086E6"/><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></svg>

          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">3. Consultar los libros que te gustaria pedir </li>

            </ul>

          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#2086E6"/><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></svg>

          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">4. Comunicarte por chat con la persona que deseas compartir </li>

            </ul>

          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#2086E6"/><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></svg>

          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item"> 5. Concertar una cita y realizar el intercambio</li>

            </ul>

          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#2086E6"/><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></svg>

          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">6. Valorar el intercambio </li>

            </ul>

          </div>
        </div>
      </div>











    </div>













  </div>
</div>







  </body>

