

<app-nav></app-nav>
  <body>


    <!-- Anuncio Incial-->
<section class="py-1 text-center container complement ">
  <div class="row py-lg-1">
    <div class="col-sm ">
      <h1 class="fw-light">¿Como funciona la App?</h1>
      <p class="lead text-muted">Solo has de seguir los siguientes pasos:</p>

    </div>
  </div>
</section>



<!-- nav Cuadros de pasos a seguir -->
<div class="album py-5 imagen-fondo ">
  <div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-1 g-3">
      <div class="col">
        <div class="card shadow-sm">
          <img  src="../../../assets/img/ayuda1.png">

          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">1. Crear una cuenta de Usuario </li>

            </ul>

          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <img  src="../../../assets/img/ayuda2.png">

          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">2. Registrar los libros que deseas prestar </li>

            </ul>

          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <img  src="../../../assets/img/ayuda3.png">

          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">3. Consultar los libros que te gustaria pedir </li>

            </ul>

          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <img  src="../../../assets/img/ayuda4.png">

          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">4. Comunicarte por email con la persona que deseas compartir </li>

            </ul>

          </div>
        </div>
      </div>













    </div>













  </div>
</div>







  </body>

