<app-nav>

</app-nav>


<body class="">

    <!-- Anuncion Incial-->
    <section class="py-1 text-center container ">
        <div class="row py-lg-1">
            <div class="col-sm ">
                <h1 class="fw-light">Mi Biblioteca</h1>
                <p class="lead text-muted">Aqui podrás ver, registrar, editar y eliminar tus libros</p>
                <p>
                    <a href="registrarlibro" class="btn btn-primary my-2 complementary-background-color4">Registrar nuevo libro</a>
                    <!-- <a href="#" class="btn btn-secondary my-2">Editar libro existente</a> -->
                </p>
            </div>
        </div>
    </section>




    <!-- LIBROS EN LA LISTA -->
    <div class="album py-5  imagen-fondo">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <div class="card shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#E62086"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Aqui va la imagen de tu libro</text></svg>

                        <div class="card-body">
                            <ul class="list-group list-group-flush" *ngFor="let libro of libros | async">
                                <li class="list-group-item">Titulo: {{libro.titulo}}</li>
                                <li class="list-group-item">Autor: {{libro.autor}}</li>
                                <li class="list-group-item">Editorial: {{libro.editorial}}</li>
                            </ul>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Editar</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Eliminar</button>

                                </div>
                                <!-- <small class="text-muted">9 mins</small> -->
                            </div>
                        </div>
                    </div>
                </div>









            </div>
        </div>
    </div>









</body>

<!-- Button trigger modal -->
<div class="container bg-personal">

    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Quiero el libro
  </button>


    <!-- Vertically centered modal -->

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Nombre del libro</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>


                <div class="modal-body">
                    <div class="container">



                        <div class="row row-cols-1 row-cols-sm-2">
                            <div class="col col-md-5 ">
                                Aqui va la imagen del libro
                            </div>

                            <div class="col col-md-7 ">
                                Aqui a la info
                            </div>
                        </div>





                    </div>
                </div>


                <div class="modal-footer justify-content-center">
                    <!--<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">MArcar como leido</button>-->
                    <button type="button" class="btn btn-primary">Leido</button>
                    <button type="button" class="btn btn-primary">Favorito</button>
                    <button type="button" class="btn btn-primary">Solicitar libro</button>
                </div>
            </div>
        </div>
    </div>
</div>