<app-nav></app-nav>

<app-editorial></app-editorial>

<body>

    <!-- Anuncio Incial-->
    <section class="py-1 text-center container ">
        <div class="row py-lg-1">
            <div class="col-sm ">
                <h1 class="fw-light">Biblioteca General</h1>
                <p class="lead text-muted">Aqui podrás ver todos los libros disponibles</p>
                <p>
                    <a href="registrarlibro" class="btn btn-primary my-2 complementary-background-color4">Registrar nuevo libro</a>
                    <!-- <a href="#" class="btn btn-secondary my-2">Editar libro existente</a> -->
                </p>
            </div>
        </div>
    </section>




    <!-- LIBROS EN LA LISTA -->
    <div class="album py-5  imagen-fondo">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <ng-container *ngFor="let lib of libros | async">
                    <div class="col" *ngIf='lib.isbn.toLowerCase().includes(busquedafiltro.Busqueda.toLowerCase())'>

                        <div class="card shadow-sm">
                          <img  src="../../../assets/img/libro.jpg">

                            <div class="card-body">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item" name="titulo">Titulo: {{lib.titulo}}</li>
                                    <li class="list-group-item">Autor: {{lib.autor.nombre}} {{lib.autor.apellido}}</li>
                                    <li class="list-group-item">Editorial: {{lib.editorial.nombre}}</li>
                                    <li class="list-group-item">ISBN: {{lib.isbn}}</li>

                                </ul>

                            </div>
                            <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#vermas" (click)="metodo(lib)">Ver más </button>
                        </div>
                    </div>






                </ng-container>


            </div>

        </div>
    </div>


    <!--Modal VER MAS-->
    <div class="modal fade" id="vermas" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ver más</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
                </div>
                <div class="modal-body">

                    <form>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Titulo:</label>
                            <div class="col-sm-10">
                                <input type="text" readonly class="form-control-plaintext" name="titulo" [(ngModel)]="libro.titulo">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="staticEmail" class="col-sm-2 col-form-label">Autor:</label>
                            <div class="col-sm-10">
                                <input type="text" readonly class="form-control-plaintext"> {{libro.autor.nombre}} {{libro.autor.apellido}}
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="staticEmail" class="col-sm-2 col-form-label">Editorial:</label>
                            <div class="col-sm-10">
                                <input type="text" readonly class="form-control-plaintext">{{libro.editorial.nombre}}
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="staticEmail" class="col-sm-2 col-form-label">Paginas:</label>
                            <div class="col-sm-10">
                                <input type="text" readonly class="form-control-plaintext">{{libro.paginas}}
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="staticEmail" class="col-sm-2 col-form-label">ISBN:</label>
                            <div class="col-sm-10">
                                <input type="text" readonly class="form-control-plaintext">{{libro.isbn}}
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="staticEmail" class="col-sm-2 col-form-label">Tematica:</label>
                            <div class="col-sm-10">
                                <input type="text" readonly class="form-control-plaintext">{{libro.tematica}}
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="staticEmail" class="col-sm-2 col-form-label">Descripcion:</label>
                            <div class="col-sm-10">
                                <input type="text" readonly class="form-control-plaintext">{{libro.descripcion}}
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="staticEmail" class="col-sm-2 col-form-label">Estado:</label>
                            <div class="col-sm-10">
                                <input type="text" readonly class="form-control-plaintext">{{libro.estado}}
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="staticEmail" class="col-sm-2 col-form-label">Veces prestado:</label>
                            <div class="col-sm-10">
                                <input type="text" readonly class="form-control-plaintext">{{libro.veces_prestado}}
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="staticEmail" class="col-sm-2 col-form-label">Propietario:</label>
                            <div class="col-sm-10">
                                <input type="text" readonly class="form-control-plaintext">{{libro.usuario.username}}
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="staticEmail" class="col-sm-2 col-form-label">Email:</label>
                            <div class="col-sm-10">
                                <input type="text" readonly class="form-control-plaintext">{{libro.usuario.email}}
                            </div>
                        </div>
                    </form>


                </div>
                <!--Lineas de futuro
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary">Favorito</button>
                    <button type="button" class="btn btn-primary">Leido</button>
                    <button type="button" class="btn btn-primary">Lo quiero</button>
                </div>
                -->
            </div>
        </div>
    </div>







</body>
