

.navbar-logo{
  display: inline-block;
  vertical-align: middle;
  width: 70px;
}
.notificacion-logo{
  display: inline-block;
  vertical-align: left;
  width: 20px;
}

.navbar-logo img{
  display: block;
  width: 80%;
  height: auto;
}

.corporative-background-color{
  background: #E62086


  ;

}

.complementary-background-color1{
  background: #ffffff
  ;
}

.complementary-background-color2{
    background: #2086E6
    ;

  }

  .complementary-background-color3{
    background:  #E68020
    ;

  }
  .complementary-background-color4{
    background:  #0fdb72
    ;

  }

.dimensiones-notificacion{
  height: 65px;
  width: 15%;
  position: fixed;
  left: right;
  color: #ffffff;
  background: #E62086
}

.color-letra{

  color: #E62086
}

.color-marron{
  background: #757575
}

@media (min-width: 300px){
  .navbar-expand-lg .navbar-nav .dropdown-menu {
      position: absolute;
  }}

  @media (max-width: 415px){
    .dropdown-menu-right {
      right: auto;
      left: auto;
  }


  }
