<nav class=" navbar navbar-expand-lg navbar-dark corporative-background-color  ">

    <div class="container-fluid">

        <!--LOGO en el navegador-->
        <a class="navbar-logo" href="login">
            <img src="assets/img/logo.png">
        </a>
        <a class="navbar-brand" href="busquedalibros">BBP - Leer y Compartir</a>


        <!-- buscador de libros-->
        <form class="d-flex">
            <div class="input-group">

                <!--selector de busqueda para el buscador de libros-->


                <div (change)="onChange()" class="dropdown ">
                    <select aria-placeholder="Selecciona..." class="btn btn-secondary dropdown-toggle complementary-background-color1 color-letra" id="exampleFormControlSelect1" name="seleccionar" [(ngModel)]="seleccionada">
                  <option value="" selected disabled hidden>Selecciona...</option>
                  <option value="Libro">Título</option>
                  <option value="Autor">Nombre Autor</option>
                  <option value="ISBN">ISBN</option>

                </select>
                </div>

                <!-- buscador -->


                <div class="dropdown  ">
                    <input (keyup)="onKey()" name="search" [(ngModel)]="busqueda" class="form-control me-2" type="text" placeholder="Escribe..." name="search" [(ngModel)]="busqueda" aria-label="Search" aria-describedby="basic-addon2" />
                </div>

            </div>
        </form>



        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <!--boton chat
            <a href="chat" class="btn btn-info  complementary-background-color1 color-letra">Chat </a> &nbsp; &nbsp; &nbsp; &nbsp;
              -->
            <!--boton registrar libro-->

            <a href="registrarlibro" class="btn btn-info complementary-background-color4 ">¡Registrar libro!</a>





        </div>

        <!-- Navbar menu desplegable de Settings-->
        <ul class="navbar-nav me-auto  mb-lg-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">

                    <a class="dropdown-item" href="perfil">Mi Perfil</a>
                    <a class="dropdown-item" href="mibiblioteca">Mi Biblioteca</a>
                    <!--<a class="dropdown-item" href="chat">Mi Chat</a>-->
                    <a class="dropdown-item" href="ayuda">Ayuda</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="acercade">Acerca de</a>
                    <a class="dropdown-item" href="login" (click)="logout()">Logout</a>

                </div>
            </li>
        </ul>
    </div>

</nav>
